root{
  color: #141423;
  display: flex;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

  h1 {
    font-size: 120px;
    font-family: Serif-bold, serif;
    line-height: 100px;
    margin-bottom: 60px;
  }
  h2 {
    font-size: 68px;
    font-family: Serif-bold, serif;
  }
  h3 {
    font-size: 42px;
    font-family: Serif-bold, serif;
  }
  .h-intro {
    font-size: 40px;
    font-family: Serif-bold, serif;
  }
  .h-s {
    font-size: 20px;
    text-decoration-color: #141423;
    font-family: Serif-bold, serif;
  }
  .h-xs {
    font-size: 16px;
    font-family: Serif-bold, serif;
  }


  .Header {
    padding-top: 30px;
    width: 1060px;
    margin: 0 auto;
  }
  .header-wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-style: normal;
    pointer-events: none;
    font-size: 20px;
    line-height: 23px;
  }
  .header-logo-h {
    font-style: normal;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    margin-left: 15px;
  }
  .header-button {
    font-family: Serif-regular,serif;
    font-size: 16px;
    cursor: pointer;
    padding: 13px 7px;
    border: 1.5px solid #141423;
    text-transform: uppercase;

    transition-duration: 0.4s;
  }
  .header-button:hover {
    color: #A7A7B1;
    border: 1.5px solid #A7A7B1;
  }


  .Page-container {
    padding-top: 30px;
    width: 1060px;
    margin: 0 auto;
    padding-bottom: 40px;
  }


  .Intro {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    width: 1060px;
  }
  .intro-container {
    text-align: left;
    width: 1060px;
  }
  .intro-h {
    margin-top: -3%;
  }
  .intro-scrollpoint {
    width: 80px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s linear;
    position: absolute;
    animation: MoveUpDown 2s ease-in-out infinite;
    bottom: 30px;
  }


  .About {
    text-align: left;
    width: 1060px;
    animation: ShowMe 3s;
  }
  .about-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }
  .about-post {
    color: #141423;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 110px;
  }
  .about-description-container {
    margin-left: 40px;
    font-style: normal;
    font-weight: normal;
  }
  .about-img {
    width: 80%;
  }


  .Expertises {
    text-align: left;
    width: 1060px;
    animation: ShowMe 3s;
  }
  .expertises-container {
    grid-gap: 10px;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .expertises-img{
    margin:auto;
    width: 40%;
  }
  .expertises-text {
    font-size: 20px;
  }
  .expertises-slide-style1 {
    background: #A7A7B1;
    align-items: center;
    display:flex;
    min-width: 200px;
    min-height: 200px;
    flex-direction: column;
  }
  .expertises-slide-style2 {
    background: #D3D3D8;
    align-items: center;
    display:flex;
    min-width: 200px;
    min-height: 200px;
    flex-direction: column;
  }
  .expertises-slide-style3 {
    background: rgba(211, 211, 216, 0.5);
    align-items: center;
    display:flex;
    min-width: 200px;
    min-height: 200px;
    flex-direction: column;
  }
  .expertises-slide-style4 {
    background: rgba(211, 211, 216, 0.25);
    align-items: center;
    display:flex;
    min-width: 200px;
    min-height: 200px;
    flex-direction: column;
  }


  .Trust {
    text-align: left;
    width: 1060px;
    animation: ShowMe 3s;
  }
  .trust-partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2vw;
    padding-bottom: 80px;
  }
  .trust-partner {
    filter: grayscale(100%);
    transition: all 0.5s ease;

    flex: 0 1 auto;
  }
  .trust-partner:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
  .trust-reviews {
    grid-gap: 40px;
    text-align: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    display: flex;
  }
  .trust-review {
    transition: transform .2s;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  .trust-review:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }


  .Contacts {
    text-align: left;
    width: 1060px;
    animation: ShowMe 3s;
  }
  #contacts-container {
    color: #141423;
    text-align: left;
    justify-content: space-between;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vw;
  }
  #contacts-grid > div {

  }
  .contacts-link {
    font-size: 20px;
    color: #141423;
    text-decoration: none;
  }
  .mailme {

  }
  .mailme-container {
    flex-direction: row;
    display: flex;
    margin-bottom: 30px;
  }
  .mailme-input {

  }
  .mailme-button {
    background-color: #ddd;
    border: none;
    padding: 10px 32px;
    text-align: center;
    font-size: 16px;
    font-family: Serif, serif;
    width: 30%;
  }
  .mailme-input-error {

  }
  .mailme-check {
    border: 1.5px solid red;
    width: 40px;
    border-radius: 2px;
  }
  .mailme-check-label {
    color: #141423;
    text-align: left;
    font-family: Serif-regular,serif;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  .contacts-watermark {
    font-size: 16px;
    color: #141423;
    text-decoration: none;
    text-align: right;
    padding-top: 100px;
    margin-bottom: -30px;
  }


@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

@keyframes ShowMe {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@media (max-width: 1440px) {
  h1 {
    font-size: 96px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 30px;
  }
  .h-intro {
    font-size: 24px;
  }
  .h-s {
    font-size: 16px;
    text-decoration-color: #141423;
  }
  .h-xs {
    font-size: 14px;
  }
  .Header {
    width: 680px;
    padding: 30px 50px;
  }

  .Page-container {
    width: 680px;
  }
  .Intro {
    width: 680px;
  }
  .intro-container {
    width: 680px;
  }
  .About {
    width: 680px;
  }
  .about-description-container {
    margin-left: 0px;
  }
  .about-img {
    width: 60%;
  }
  .about-img1 {
    width: 35%;
  }
  .Trust {
    width: 680px;
  }
  .trust-partners {
    grid-template-columns: 1fr 1fr 1fr;
    width: 680px;
  }
  .Expertises {
    width: 680px;
    padding: 50px 20px 0;
  }
  .Contacts {
    width: 680px;
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  .h-intro {
    font-size: 16px;
  }
  .h-s {
    font-size: 14px;
    text-decoration-color: #141423;
  }
  .h-xs {
    font-size: 12px;
  }
  .Header {
    width: 280px;
    padding: 30px 50px;
  }
  .Page-container {
    width: 280px;
  }
  .Intro {
    width: 280px;
  }
  .intro-container {
    width: 280px;
  }
  .About {
    width: 280px;
  }
  .about-description-container {
    margin-left: 0px;
  }
  .about-img {
    width: 40%;
  }
  .about-img1 {
    width: 30%;
  }
  .Trust {
    width: 280px;
  }
  .trust-partners {
    grid-template-columns: 1fr 1fr;
    width: 280px;
  }
  .trust-partner-img {
    width: 120%;
  }
  .trust-reviews {

    
  }
  .trust-review {


  }
  .trust-review-img {


  }
  .Expertises {
    width: 280px;
    padding: 50px 20px 0;
  }
  .Contacts {
    width: 280px;
  }
}

